html {

  background-color: #f2f1ed;
  font-family: "Patua One", sans-serif;
  line-height: 1.5;
}

img {
  width: 100%;
}

h1 {
  color: #5d8432;
  text-transform: uppercase;
  font-family: "Patua One", sans-serif;
}

h2 {
  color: #5d8432;
  text-transform: uppercase;
}

figcaption {
  line-height: 1.5;
  font-size: .75rem;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
}

nav {
  font-size: 1.125rem;
  font-weight: bold;
  font-family: "Patua One", sans-serif;
}

nav ol {
  color: #5d8432;
  text-decoration: none;
  list-style-type: none;
  font-family: "Patua One", sans-serif;
}

nav a {
  color: #793284;
  text-decoration: none;
  list-style-type: none;
}

nav a:hover {
  color: #b42885;
  text-decoration: underline;
}

.intro {
  line-height: 1.5;
  font-size: 1rem;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
}
